@page
@model AnniversaryReminder.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeIdent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HomeMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HomeMailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].BusinessMailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].DataCare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeIdent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeMailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessMailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
